body {
    font-family: 'Sleepyhollow3', sans-serif;
    background-color: #141414;
    color: #333;
    text-align: center;
    padding: 50px;
    max-width: 1200px; /* Ограничение ширины */
    margin: 0 auto; /* Центрирование */
}

header {
    background-image: url('../images/titleheader.png');
    background-position: center;
    background-size: cover;
    text-align: left;
    padding: 20px 50px;
}

.logo {
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.1);
    color: #8c4ce4;
    font-size: 54pt;
    font-family: 'Sleepyhollow3', sans-serif;
    background: linear-gradient(180deg, #c34cbb, #8c4ce4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    text-decoration: none;
    color: #8c4ce4;
}

h2 {
    color: #8c4ce4;
}

.info, .resources, .contact {
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.screenshot {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #8c4ce4;
    border-radius: 5px;
    background-color: #fff;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8c4ce4;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7a3bbf; /* Темнее при наведении */
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #353535;
    color: #fff;
    text-align: center;
    border-top: 1px solid #8c4ce4;
}

footer p {
    margin: 0;
}