@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat {
    font-family: "Montserrat", sans-serif; /* Используйте sans-serif вместо serif */
    font-optical-sizing: auto;
    font-weight: 400; /* Установите желаемый вес по умолчанию */
    font-style: normal;
  }
  

@font-face {
    font-family: 'Sleepyhollow3'; 
    src: url('../fonts/SleepyHollow3.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal; 
}



.body {
    background-color: #141414;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    max-width: 1200px; /* Ограничение ширины */
    margin: 0 auto; /* Центрирование */
}

header {
    background-image: url('../images/titleheader.png');
    background-position: left;
    background-size: cover;
    text-align: right;
    align-items: center;
    height: min-content;
}

.logo {
    min-width: max-content;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.1);
    color: #8c4ce4;
    font-size: 200pt;
    font-family: 'Sleepyhollow3', sans-serif;
    background: linear-gradient(180deg, #000000, #512b86, #8c4ce4, #8c4ce4, #c34cbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;
    height: 250px;
    align-items: flex-start;
}   

.logo_text
{
    padding-left: 10px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: #8c4ce4;
}

h2 {
    color: #8c4ce4;
}

.social_networks {
    font-family: 'Sleepyhollow3', sans-serif;
    list-style-type: none;
    padding: 0; /* Убирает отступы */
    margin: 0 20%; 
    text-align: left;
    font-size: 102pt;
}
.info, .resources, .contact {
    font-family: Montserrat;
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.presentation{
    font-family: Montserrat;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

.screenshot {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #8c4ce4;
    border-radius: 5px;
    background-color: #fff;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8c4ce4;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7a3bbf; /* Темнее при наведении */
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #353535;
    color: #fff;
    text-align: center;
    border-top: 1px solid #8c4ce4;
}

footer p {
    margin: 0;
}

@media (max-width: 1280px) {
    .logo_text{
        font-size: 128pt;
    }

    .social_networks {
        font-size: 85pt;
    }

    .social_icons{
        width: 80px;
    }

}

@media (max-width: 768px) {
    .logo_text{
        font-size: 100pt;
    }

    .social_networks {
        font-size: 48pt;
    }

    .social_icons{
        width: 64px;
    }

}